<h1><%= @student.name%>'s Page</h1>
<h3>Student Key: <%= @student.secret_key%></h3>
<p> Please email this to the student for their own record</p>

<h4>Student's teams are: </h4>
<% @student.teams.each do |team| %>
  <li><%= team.name %></li>
<%end%>

<h3> Events Participated in:</h3>
<% @student.events.each do |event| %>
  <li><%= link_to event.event_title, team_event_path(event.team_id, event) %></li>
<%end%>
