<h1>Create Event</h1>

<%= form_for [@team,@event] do |f| %>
  <%= f.label :event_title %></br>
  <%= f.text_field :event_title%> </br>
  <ol>
    <li><input type='text' name='event[participants][]'></li>
    <li><input type='text' name='event[participants][]'></li>
    <li><input type='text' name='event[participants][]'></li>
    <li><input type='text' name='event[participants][]'></li>
  </ol>
  <button class='button add_participant'>Add Participant</button></br>
  <%= f.submit "Create Event"%>
<%end%>
