<h1>Create Event</h1>

<%= form_for [@team,@event] do |f| %>
  <%= f.label :event_title %></br>
  <%= f.text_field :event_title%> </br>
  <ol>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
    <li><input type='text' name='event[participants][]' placeholder="student key" required='true'></li>
  </ol>
  <button class='add-participant'>Add Participant</button></br></br>
  <%= f.submit "Create Event", :class => 'button'%>
<%end%>
