<h1> Welcome <%= @coach.name %>!</h1>

<div>
  <h4> Your Teams </h4>
  <ul>
   <% @coach.teams.each do |team| %>
      <li><%=link_to  team.name, team_path(team) %></li>
   <%end%>
  </ul>
</div>

<% if current_coach.id == @coach.id %>
  <%= link_to "Edit", edit_coach_registration_path(current_coach.id)%>
<%end%>
