/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }

.btn-center {
  margin-left: 40%;
}

.intro {
  text-align: center;
  margin-bottom: 10%;
}

.sign-template {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.coach {
 max-width: 300px;
 }

.list {
  padding-left: 20px;
  list-style-type: none;
}
.list-template {
  max-height: 300px;
  max-width: 330px;
  overflow: auto;
  margin: 0 auto;
  padding: 15px;
}

.bout-table table {
  width: 100%;
}

body {
  background-color: #21252b;
}

.page {
 background-color: #E54700;
 width: 320px;
 padding: 20px;
 border-radius: 15px;
}
.sign-template {
 background-color: #E54700;
 padding: 20px;
 border-radius: 15px;
}

.header {
  border-bottom-style: ridge;
  border-color: #F5814C;
  border-width: 5px;
}

.h2,h3,p,label,h1,li,h5,h2,h4 {
  color: #F5AB89;
  }

.h2:hover {
  color: #F5814C;
  text-decoration: none;
}

a {
  color: #F5814C;
}

a:hover {
  color: #955234;
}

.list-group-item {
  background-color: transparent;
  border: none;
}
.main {
  padding-bottom: 50px;
  border-radius: 15px;
 } 

 table {
  background-color: #FFF;
  color: #E54700;
}

.table-bordered {
  border-color: #009A60;
}
  
.sign-template>a,.sign-template>h3,.sign-template>h2,.sign-template>div>label,.sign-template>p {
  color: #FFF;
  }
