/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap.min
 */

.center {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  }

.btn-center {
  margin-left: 40%;
}

.intro {
  text-align: center;
  margin-bottom: 10%;
}

.sign-template {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.coach {
 max-width: 300px;
 }

.list {
  padding-left: 20px;
  list-style-type: none;
}
.list-template {
  max-height: 300px;
  max-width: 330px;
  overflow: auto;
  margin: 0 auto;
  padding: 15px;
}

.bout-table table {
  width: 100%;
}
